@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Thin.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Thin.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-ExtraLight.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Light.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Light.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Regular.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-SemiBold.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Bold.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-ExtraBold.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-style: normal;
    src: url("../font/Pretendard/woff2/Pretendard-Black.woff2") format("woff2"),
        url("../font/Pretendard/woff/Pretendard-Black.woff") format("woff");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 1000;
    src: url("../font/Wanted/woff2/WantedSans-ExtraBlack.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 900;
    src: url("../font/Wanted/woff2/WantedSans-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 800;
    src: url("../font/Wanted/woff2/WantedSans-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../font/Wanted/woff2/WantedSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../font/Wanted/woff2/WantedSans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../font/Wanted/woff2/WantedSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Wanted Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../font/Wanted/woff2/WantedSans-Regular.woff2") format("woff2");
}